@{
    ViewData["Title"] = "Add/Edit Task";
}

@model Tasks

<h1>Task</h1>

<form method="post">
    <input asp-for="TaskId" type="hidden" />

    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
    <br />
    <label asp-for="dueDate">Due Date</label>
    <input asp-for="dueDate" />
    <br />
    <label asp-for="Quadrant">Quadrant</label>
    <select asp-for="Quadrant">
        <option value=""> -- Select a quadrant -- </option>
        <option value="I">I</option>
        <option value="II">II</option>
        <option value="III">III</option>
        <option value="IV">IV</option>
    </select>
    <br />
    <label asp-for="CategoryId">Category</label>
    <select asp-for="CategoryId">
        <option value=""> --Select a category-- </option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.Name</option>
        }
    </select>
    <br />
    <label asp-for="Completed">Completed</label>
    <select asp-for="Completed">
        <option value=""> --Select an option-- </option>
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <br />
    <br />
    <button type="submit">Submit</button>

    <div asp-validation-summary="All"></div>

</form>